emplugins/com.sma.ui.core.jobdetails.agentlessbolt/bin
emplugins/com.sma.ui.core.jobdetails.agentlessbolt/.classpath
emplugins/com.sma.ui.core.jobdetails.agentlessbolt/.project
emplugins/com.sma.ui.core.jobdetails.agentlessbolt/.settings

