<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sma.ui.extensions.jobdetail">
      <jobDetail
            class="com.sma.ui.core.jobdetails.unix.UnixJobDetailsExtension"
            id="UNIX">
         <jobSubDetail
               class="com.sma.ui.core.jobdetails.connectors.agentlessbolt.AgentlessBoltUnixJobDetailsExtension"
               id="Agentless (Bolt)"
               name="Agentless (Bolt)">
         </jobSubDetail>
      </jobDetail>
      <jobDetail
            class="com.sma.ui.core.jobdetails.windows.WindowsJobDetailsExtension"
            id="WINDOWS">
         <jobSubDetail
               class="com.sma.ui.core.jobdetails.connectors.agentlessbolt.AgentlessBoltWindowsJobDetailsExtension"
               id="Agentless (Bolt)"
               name="Agentless (Bolt)">
         </jobSubDetail>
      </jobDetail>
   </extension>

</plugin>
